.lightbox {
	/** Esconde a classe lightbox */
	display: none;
	/** Estilo basico para a classe */
}

.lightbox:target {
  /** Aplica essa regras quando target ocorre na classe */
  display: block;
  outline: none;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 500px;
  background: #00BFFF;
}

.like:hover{
  background:orange;
}

.like{
  background: red;
  cursor: pointer;
}
#banner{
  position: relative;
  top: 50%;
  left: 50%;
}

#pesquisa{
  position: relative;
  top: 50%;
  left: 50%;
}

#one{
  position: relative;
  top: 50%;
  left: 50%;
}
#footer{
  position: relative;
  top: 50%;
  left: 50%;
}

input[type=text], input[type=password], input[type=email] {
    padding: 15px;
    display: list-item;
    border: none;
    background: #AED8F0;
    height: 10px;
  }

h1{
  text-align: center;
}
#description{
  text-align: center;
}

.myForm{
  text-align: center;
}



input:hover { 
    background-color: #7AA9C4;
}

html{
  font-family: sans-serif;
}

.disciplina{
  padding:8px 20px;
  background: #AED8F0;
  width: 300px;
}

.disciplina:hover{
  background: #7AA9C4;
}

.paraPesquisar{
  width: 300px;
  height: 10px;
}
ul li{
  list-style: none;
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}