.lightbox {
	/** Esconde a classe lightbox */
	display: none;
	/** Estilo basico para a classe */
}

.lightbox:target {
  /** Aplica essa regras quando target ocorre na classe */
  display: block;
  outline: none;
  position: absolute;
  left: 20px;
  top: 20px;
  width: 500px;
  background: #00BFFF;
  left: 50%;
  transform: translate(-50%);
}

.verPerfil{
  text-decoration: none;
  text-transform: uppercase;
  color: white;
}

.verPerfil:hover{
  background: rgb(243, 111, 111);
  color: #00BFFF;
}

.widgetsDiv{
  text-decoration: none;
  font-family: sans-serif;
  font-size: small;
  text-transform: uppercase;
  cursor: pointer;
}

.horario{
  font-size: small;
}

.comentario{
  font-size: large;
  padding: 10px;
  background: rgb(51, 196, 245);
  margin-bottom: 3px;

}
.comentario:hover{
  background: orange;
}

.like:hover{
  background:rgb(235, 144, 144);
}

.like{
  background: rgb(238, 76, 76);
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
}

.close{
  background: rgb(97, 159, 196);
  text-transform: uppercase;
  text-decoration: none;
}

.close:hover{
  background: rgb(177, 212, 233);
}

.paraComentar{
  width: 300px;
}

#banner{
  position: relative;
  top: 50%;
  left: 50%;
}

#pesquisa{
  position: relative;
  top: 50%;
  left: 50%;
}

#one{
  position: relative;
  top: 50%;
  left: 50%;
}
#footer{
  position: relative;
  top: 50%;
  left: 50%;
}

input[type=text], input[type=password], input[type=email] {
    padding: 15px;
    display: list-item;
    border: none;
    background: #AED8F0;
    height: 10px;
  }

h1{
  text-align: center;
}
#description{
  text-align: center;
}

.myForm{
  text-align: center;
}



input:hover { 
    background-color: #7AA9C4;
}

.disciplina{
  padding:8px 20px;
  background: #AED8F0;
  width: 300px;
}

.comentarioResposta{
  padding: 40px;
  height: 30px;
  padding-top: 0px;
}

.disciplina:hover{
  background: #7AA9C4;
}

.paraPesquisar{
  width: 300px;
  height: 10px;
}
ul li{
  list-style: none;
  display: inline;
  padding-left: 15px;
  padding-right: 15px;
}

#removeComment{
  padding-right: 5px;
  text-decoration: none;

  
}

#removeComment:hover{
  color:green;
}

#replyComment{
  text-decoration: none;
}

#replyComment:hover{
  color:green;
}

.comentario{
  text-decoration: none;
  
}